# Logistic Regression

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/social-network-ads/Social_Network_Ads.csv

# Reading Data

In [2]:
data=pd.read_csv("../input/social-network-ads/Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
from sklearn import preprocessing

In [6]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

# Splitting the data

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
data=pd.get_dummies(data,columns=["Gender"])   # one hot encoding

# Changing the data

In [9]:
x=data.drop(["User ID","Purchased"],axis=1)
y=data["Purchased"]

In [10]:
x.head()

   Age  EstimatedSalary  Gender_Female  Gender_Male
0   19            19000              0            1
1   35            20000              0            1
2   26            43000              1            0
3   27            57000              1            0
4   19            76000              0            1

In [11]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [12]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.30,random_state=0)     # 0.30 or 30% is the size of test

In [13]:
xtrain.head()

     Age  EstimatedSalary  Gender_Female  Gender_Male
92    26            15000              0            1
223   60           102000              0            1
234   38           112000              1            0
232   40           107000              0            1
377   42            53000              1            0

In [14]:
xtrain["Age"]=pd.cut(xtrain["Age"],bins=3,labels=False)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
xtrain.head()

     Age  EstimatedSalary  Gender_Female  Gender_Male
92     0            15000              0            1
223    2           102000              0            1
234    1           112000              1            0
232    1           107000              0            1
377    1            53000              1            0

In [16]:
xtrain["EstimatedSalary"]=pd.cut(xtrain["EstimatedSalary"],bins=10,labels=False)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
xtrain.head()

     Age  EstimatedSalary  Gender_Female  Gender_Male
92     0                0              0            1
223    2                6              0            1
234    1                7              1            0
232    1                6              0            1
377    1                2              1            0

In [18]:
xtrain.head()

     Age  EstimatedSalary  Gender_Female  Gender_Male
92     0                0              0            1
223    2                6              0            1
234    1                7              1            0
232    1                6              0            1
377    1                2              1            0

In [19]:
from sklearn.linear_model import LogisticRegression

# Applying Logistic Regression Model

In [20]:
lg=LogisticRegression()

In [21]:
lg.fit(xtrain,ytrain)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
xtest["Age"]=pd.cut(xtest["Age"],bins=3,labels=False)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
xtest["EstimatedSalary"]=pd.cut(xtest["EstimatedSalary"],bins=10,labels=False)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
xtest.reset_index(inplace=True)

In [25]:
xtrain.head()

     Age  EstimatedSalary  Gender_Female  Gender_Male
92     0                0              0            1
223    2                6              0            1
234    1                7              1            0
232    1                6              0            1
377    1                2              1            0

In [26]:
xtest.head()

   index  Age  EstimatedSalary  Gender_Female  Gender_Male
0    132    0                5              0            1
1    309    1                2              1            0
2    341    1                4              0            1
3    196    0                4              1            0
4    246    1                2              1            0

In [27]:
ypred=lg.predict(xtest.drop("index",axis=1))

In [28]:
ypred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 1])

In [29]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

# Confusion Matrix

In [30]:
confusion_matrix(ytest,ypred)

array([[75,  4],
       [10, 31]])

# Accuracy

In [31]:
accuracy_score(ytest,ypred)

0.8833333333333333

In [32]:
# Accuracy obtained is 83 %